Source: laptop-mode-tools
Section: utils
Priority: optional
Maintainer: Bart Samwel <bart@samwel.tk>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.3

Package: laptop-mode-tools
Architecture: all
Depends: lsb-base (>= 3.0-10), util-linux (>= 2.13)
Recommends: acpid | apmd | pbbuttonsd | pmud, hdparm, sdparm, hal
Conflicts: noflushd
Description: Scripts to spin down hard drive and save power
 Laptop mode is a Linux kernel feature that allows your laptop to save 
 considerable power, by allowing the hard drive to spin down for longer 
 periods of time. This package contains the userland scripts that are 
 needed to enable laptop mode. It includes support for automatically 
 enabling laptop mode when the computer is working on batteries. It also 
 supports various other power management features, such as starting and 
 stopping daemons depending on power mode, automatically hibernating if 
 battery levels are too low, and adjusting terminal blanking and X11
 screen blanking.

