#!/usr/bin/make -f
# -*- makefile -*-
# Based on a sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# Modifications Copyright 2008 by Bart Samwel

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




configure: configure-stamp
configure-stamp:
	dh_testdir
	
	# Nothing to do.
	
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	cp etc/init.d/laptop-mode debian/laptop-mode-tools.laptop-mode.init
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-rm debian/laptop-mode-tools.laptop-mode.init
	-rm -f build-stamp configure-stamp
	dh_clean 

DESTDIR=$(CURDIR)/debian/laptop-mode-tools

INSTALL=install -o root -g root

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/laptop-mode-tools.
	mkdir -p $(DESTDIR)/etc/laptop-mode
	mkdir -p $(DESTDIR)/etc/acpi/events
	mkdir -p $(DESTDIR)/etc/acpi/actions
	mkdir -p $(DESTDIR)/usr/sbin
	mkdir -p $(DESTDIR)/usr/share/laptop-mode-tools/modules
	mkdir -p $(DESTDIR)/etc/apm/event.d
	mkdir -p $(DESTDIR)/etc/power/scripts.d
	mkdir -p $(DESTDIR)/etc/power/event.d
	mkdir -p $(DESTDIR)/etc/laptop-mode/batt-start
	mkdir -p $(DESTDIR)/etc/laptop-mode/batt-stop
	mkdir -p $(DESTDIR)/etc/laptop-mode/lm-ac-start
	mkdir -p $(DESTDIR)/etc/laptop-mode/lm-ac-stop
	mkdir -p $(DESTDIR)/etc/laptop-mode/nolm-ac-start
	mkdir -p $(DESTDIR)/etc/laptop-mode/nolm-ac-stop
	mkdir -p $(DESTDIR)/etc/laptop-mode/conf.d
	mkdir -p $(DESTDIR)/etc/laptop-mode/modules
	install -m600 etc/laptop-mode/laptop-mode.conf $(DESTDIR)/etc/laptop-mode/laptop-mode.conf
	install -m600 etc/laptop-mode/conf.d/* $(DESTDIR)/etc/laptop-mode/conf.d
	install -m700 etc/acpi/actions/* $(DESTDIR)/etc/acpi/actions
	install -m600 etc/acpi/events/* $(DESTDIR)/etc/acpi/events
	install -m700 etc/apm/event.d/* $(DESTDIR)/etc/apm/event.d
	install -m700 etc/power/scripts.d/* $(DESTDIR)/etc/power/scripts.d
	install -m700 etc/power/event.d/* $(DESTDIR)/etc/power/event.d
	install -m700 usr/sbin/laptop_mode $(DESTDIR)/usr/sbin
	install -m700 usr/sbin/lm-syslog-setup $(DESTDIR)/usr/sbin
	install -m700 usr/sbin/lm-profiler $(DESTDIR)/usr/sbin
	install -m700 usr/share/laptop-mode-tools/modules/* $(DESTDIR)/usr/share/laptop-mode-tools/modules

# Build architecture-independent files here.
binary-arch: build install

# Build architecture-dependent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Documentation/revision-history.txt
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit --name laptop-mode -- defaults 99
#	dh_installcron
#	dh_installinfo
	dh_installman man/*
#	dh_link
#	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
