ACTION=="change", SUBSYSTEM=="power_supply", RUN+="@LIB_D@/udev/lmt-udev auto"
ACTION=="add|remove", SUBSYSTEM=="machinecheck", RUN+="@LIB_D@/udev/lmt-udev auto"
ACTION=="add|remove", SUBSYSTEM=="usb", RUN+="@LIB_D@/udev/lmt-udev force modules=usb-autosuspend devices=%k"
