[Unit]
Description=Laptop Mode Tools

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/laptop_mode init auto
ExecStop=/usr/sbin/laptop_mode init stop
ExecStopPost=/bin/rm -f /var/run/laptop-mode-tools/enabled
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=multi-user.target
