[Unit]
Description=Laptop Mode Tools - Battery Polling Service
Documentation=man:laptop_mode(8) man:laptop-mode.conf(8)
Documentation=http://github.com/rickysarraf/laptop-mode-tools

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/lib/udev/lmt-udev auto
ExecReload=/lib/udev/lmt-udev auto
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
